# Bot
bot_token = "" # The token of the bot @ https://discord.com/developers/applications

# Status
server_ip = "ip:port" # The IP and port of the server
refresh_rate = 15 # In seconds. Recommended to be >10s due to discord rate limit
status_channel = "1" # The ID of the channel the server status should be in

# Data
db_path = "data.json" # Where data will be stored

# Appearance
status_embed_color = "52,235,125" # R, G, B
status_banner = "banner_url" # Leave as "" for no banner
hide_ip = no # Whether or not to display the server's IP in the server status message. Must be "yes" or "no"

# GitHub Repo URL
github_repo_url = "https://github.com/Cuh4/XHPBot"